.parent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.descendants {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.button {
  padding: 10px 20px;
}