.figure {
  margin: 0;
  padding: 0;
  position: relative;
}

.canvas {
  display: block;
  border: 1px solid #373737;
  border-radius: 3px;
  cursor: pointer;
  max-width: 100%;
}

.genome {
  text-align: center;
  font-weight: 100;
  font-size: 0.9em;
  margin: 0.5em 0 1.5em;
  user-select: none;
}

.number {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  line-height: 22px;
  width: 22px;
  text-align: center;
  border: 1px solid #373737;
  background: #010511;
  font-size: 0.8em;
}