@import "~normalize.css";
@import url("https://fonts.googleapis.com/css?family=Lato:400,700,300,300italic,400italic,700italic");

html {
  box-sizing: border-box;
}

*, :after, :before {
  box-sizing: inherit;
}

body {
  background: #010514;
  color: #9b9b9b;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

h2 {
  font-weight: 100;
}

a {
  color: #9b9b9b;
}