@import "~normalize.css";
@import url("https://fonts.googleapis.com/css?family=Lato:400,700,300,300italic,400italic,700italic");

html {
  box-sizing: border-box;
  height: 100%;
}

*, :after, :before {
  box-sizing: inherit;
}

body {
  background: #010514;
  color: #afafaf;
  font-weight: 300;
  height: inherit;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

p {
  margin: 0.6em 0;
  line-height: 1.8em;
}

h1, h2, h3, h4 {
  font-weight: inherit;
}

a {
  white-space: nowrap;
  color: inherit;
  margin: 0 0.25em;
  padding-bottom: 2px;
  text-decoration: none;
  border-bottom: 1px solid;
  transition: color .2s;
  &:hover {
    color: #ebebeb;
  }
}

em {
  color: #ebebeb;
}