.container {
  height: inherit;
  padding: 0 1%;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.content {
  text-align: center;
  flex: 1;
}

.footer {
  text-align: center;
  margin: 3em 0 2em;
  opacity: 0.8;
}