.nav {
  padding: 2em 0;
  display: flex;
  align-items: baseline;
  @media (max-width: 740px) {
    margin: 0;
    justify-content: space-around;
  }
}

.link {
  display: block;
  margin: 0 0.8em;
  font-weight: 100;
  padding: 0 0 3px;
  text-transform: uppercase;
  border-bottom: none;
  color: inherit;
  @media (max-width: 740px) {
    margin: 0;
  }
}

.activeLink {
  border-bottom: 1px solid;
}