.nav {
  display: block;
  padding: 2em 0;
}

.link {
  margin: 0 0.5em;
  font-weight: 100;
  padding-bottom: 3px;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}

.activeLink {
  border-bottom: 1px solid;
}