.parent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.descendants {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.description {
  padding: 1em;
  opacity: 0.8;
  p {
    margin: 0;
  }
}